body {
  background-color: rosybrown;
  color:darkslategrey;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
  color:rgb(120, 52, 28);
  font-weight: 100;
  text-decoration-line: underline;
  color:rgb(120, 52, 28)
}

section {
  margin: 30px;  /*sections space */
  padding: 25px;
  color:rgb(120, 52, 28)
  
}

h2 {
  text-align:center;
  font-size: 3em;
  color:rgb(120, 52, 28);
  font-weight: 100;
  text-decoration-line: underline;
  color:rgb(120, 52, 28)
}

#About {
  text-align: center;
  background-color: lightpink;

}

#Experience {
  background-color: plum;
  border-color: black;
  border-width: 3px;
  border-style: dotted;
  text-align: center;
  display: flex;
}

#work {
  gap: 12px;
  text-align: center;
}

#Skills {
  background-color: indianred;
  text-align: center;
  font-size: 3em;
  text-decoration-line: underline;
  color:rgb(120, 52, 28);
}

#Projects {
  background-color: olive;
  text-align: center;
  font-size: 3em;
  text-decoration-line: underline;
  color:rgb(120, 52, 28)
}

#Connect {
  background-color: lavender;
  text-decoration-line: underline;
  color:rgb(120, 52, 28)
}

#Connect ul{
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

#Connect a {
  color:cornflowerblue;
}

#Connect a:hover {
  color:blue;
  text-decoration: underline;
}